<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.teek.uac.system.mapper.RoleResourceLinkMapper">

    <resultMap id="BaseResultMap" type="top.teek.uac.system.model.po.RoleResourceLink">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="roleId" column="role_id" jdbcType="VARCHAR"/>
            <result property="resourceId" column="resource_id" jdbcType="VARCHAR"/>
            <result property="createBy" column="create_by" jdbcType="VARCHAR"/>
            <result property="createById" column="create_by_id" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateBy" column="update_by" jdbcType="VARCHAR"/>
            <result property="updateById" column="update_by_id" jdbcType="VARCHAR"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="status" column="status" jdbcType="TINYINT"/>
            <result property="isDeleted" column="is_deleted" jdbcType="TINYINT"/>
            <result property="appId" column="app_id" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,role_id,resource_id,
        create_by,create_by_id,create_time,
        update_by,update_by_id,update_time,
        status,is_deleted,app_id
    </sql>
    
    <select id="listResourceListByRoleId" resultType="top.teek.uac.system.model.po.SysResource">
        select tsr.*, case when trml.resource_id is null then 0 else 1 end as selected
        from t_sys_resource tsr 
        left join (
            select * from t_role_resource_link where is_deleted = 0 and role_id = #{roleId} and app_id = #{appId}
        ) trml on tsr.resource_id = trml.resource_id and tsr.app_id = trml.app_id
        where tsr.app_id = #{appId} and tsr.is_deleted = 0
        <if test="sysResourceDTO.resourceCode != null and sysResourceDTO.resourceCode != ''">
            and tsr.resource_code = #{sysResourceDTO.resourceCode}
        </if>
        <if test="sysResourceDTO.resourceName != null and sysResourceDTO.resourceName != ''">
            and tsr.resource_name = #{sysResourceDTO.resourceName}
        </if>
    </select>
</mapper>
