<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.teek.uac.system.mapper.RoleDeptLinkMapper">

    <resultMap id="BaseResultMap" type="top.teek.uac.system.model.po.RoleDeptLink">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="roleId" column="role_id" jdbcType="VARCHAR"/>
            <result property="deptId" column="dept_id" jdbcType="VARCHAR"/>
            <result property="createBy" column="create_by" jdbcType="VARCHAR"/>
            <result property="createById" column="create_by_id" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateBy" column="update_by" jdbcType="VARCHAR"/>
            <result property="updateById" column="update_by_id" jdbcType="VARCHAR"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="status" column="status" jdbcType="TINYINT"/>
            <result property="isDeleted" column="is_deleted" jdbcType="TINYINT"/>
            <result property="appId" column="app_id" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,role_id,dept_id,
        create_by,create_by_id,create_time,
        update_by,update_by_id,update_time,
        status,is_deleted,app_id
    </sql>

    <select id="listRoleLinkByDeptId" resultType="top.teek.uac.system.model.vo.link.RoleLinkVO">
        select tsr.role_id, tsr.role_code, tsr.role_name, tsr.owner_id, trdl.id as link_id, trdl.valid_from, trdl.expire_on, trdl.status, trdl.app_id
        from t_sys_role tsr
        join t_role_dept_link trdl on tsr.role_id = trdl.role_id and trdl.is_deleted = 0 and tsr.app_id = trdl.app_id
        ${ew.getCustomSqlSegment}
    </select>
    
    <select id="listWithSelectedByDeptId" resultType="top.teek.uac.system.model.vo.link.RoleBindSelectVO">
        select tsr.role_id, tsr.role_code, tsr.role_name, case when trdl.dept_id is not null then 1 else 0 end as disabled
        from t_sys_role tsr
        left join t_role_dept_link trdl on tsr.role_id = trdl.role_id and trdl.is_deleted = 0 and tsr.app_id = trdl.app_id and trdl.dept_id = #{deptId}
        where tsr.is_deleted = 0
    </select>
    
    <select id="listDeptListByRoleId" resultType="top.teek.uac.system.model.po.SysDept">
        select tsd.*, case when trdl.dept_id is null then 0 else 1 end as selected
        from t_sys_dept tsd left join (
            select * from t_role_dept_link where is_deleted = 0 and role_id = #{roleId} and app_id = #{appId}
        ) trdl on tsd.dept_id = trdl.dept_id
        where tsd.is_deleted = 0
        <if test="sysDeptDTO.deptId != null and sysDeptDTO.deptId != ''">
            and tsd.dept_id = #{sysDeptDTO.deptId}
        </if>
        <if test="sysDeptDTO.deptName != null and sysDeptDTO.deptName != ''">
            and tsd.dept_name = #{sysDeptDTO.deptName}
        </if>
    </select>
    
</mapper>
