<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.teek.uac.system.mapper.UserGroupUserLinkMapper">

    <resultMap id="BaseResultMap" type="top.teek.uac.system.model.po.UserGroupUserLink">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="userId" column="user_id" jdbcType="VARCHAR"/>
            <result property="userGroupId" column="user_group_uid" jdbcType="VARCHAR"/>
            <result property="createBy" column="create_by" jdbcType="VARCHAR"/>
            <result property="createById" column="create_by_id" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateBy" column="update_by" jdbcType="VARCHAR"/>
            <result property="updateById" column="update_by_id" jdbcType="VARCHAR"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="status" column="status" jdbcType="TINYINT"/>
            <result property="isDeleted" column="is_deleted" jdbcType="TINYINT"/>
            <result property="tenantId" column="tenant_id" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,user_id,user_group_uid,
        create_by,create_by_id,create_time,
        update_by,update_by_id,update_time,
        status,is_deleted,tenant_id
    </sql>

    <select id="listUserGroupByUserId" resultType="top.teek.uac.system.model.vo.link.UserGroupLinkUserVO">
        select tsug.group_id ,tsug.group_name, tsug.group_type, tsug.owner_id, tsug.owner_name, tugul.id as link_id, tugul.valid_from, tugul.expire_on, tugul.status
        from t_sys_user_group tsug
        join t_user_group_user_link tugul on tsug.group_id = tugul.user_group_id and tugul.is_deleted = 0
        ${ew.getCustomSqlSegment}
    </select>
    
    <select id="listUserLinkByGroupId" resultType="top.teek.uac.system.model.vo.link.UserLinkVO">
        select tsu.user_id, tsu.username, tsu.nickname, tugul.id as link_id, tugul.valid_from, tugul.expire_on, tugul.create_time, tugul.status, tugul.status
        from t_sys_user tsu
        join t_user_group_user_link tugul on tsu.user_id = tugul.user_id and tugul.is_deleted = 0
        ${ew.getCustomSqlSegment}
    </select>

    <select id="selectWithSelectedByUserId" resultType="top.teek.uac.system.model.vo.link.UserGroupBindSelectVO">
        select tsug.group_id, tsug.group_name, case when tugul.user_id is not null then 1 else 0 end as disabled
        from t_sys_user_group tsug
        left join t_user_group_user_link tugul on tsug.group_id = tugul.user_group_id and tugul.user_id = #{userId} and tugul.is_deleted = 0
        where tsug.is_deleted = 0
    </select>

    <select id="listWithSelectedByGroupId" resultType="top.teek.uac.system.model.vo.link.UserBindSelectVO">
        select tsu.user_id, tsu.username, tsu.nickname, case when tugul.user_group_id is not null then 1 else 0 end as disabled
        from t_sys_user tsu
        left join t_user_group_user_link tugul on tsu.user_id = tugul.user_id and tugul.is_deleted = 0 and tugul.user_group_id = #{userGroupId}
        where tsu.is_deleted = 0
    </select>
    
</mapper>
