@use "@teek/styles/mixins/bem" as *;
@use "@teek/styles/mixins/namespace" as *;

@include b(pro-table) {
  @include el-joins(table) {
    --#{$el-namespace}-table-header-text-color: var(--#{$teek-namespace}-text-color-800);
    --#{$el-namespace}-table-header-bg-color: var(--#{$teek-namespace}-text-color-100);

    thead.is-group {
      --#{$el-namespace}-fill-color-light: var(--#{$teek-namespace}-text-color-100); // 多级表头背景色
    }

    // 修复 safari 浏览器表格错位
    table {
      width: 100%;

      thead {
        th {
          font-size: 15px;

          //  header 文字不换行，并 ... 省略
          .cell {
            white-space: nowrap;
          }
        }
      }

      tbody {
        // 单元格字体颜色
        // --#{$el-namespace}-table-text-color: var(--#{$teek-namespace}-text-color-800);
      }
    }
  }
}

html.dark {
  @include b(pro-table) {
    @include el-joins(table) {
      --#{$el-namespace}-table-header-text-color: var(--#{$teek-namespace}-text-color-900);
    }
  }
}
